Source: ebiff
Section: mail
Priority: optional
Maintainer: Enrico Tassi <gareuselesinge@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), flite1-dev, libxosd-dev, libgtk2.0-dev, liblualib50-dev, liblua50-dev, lua50, xsltproc
Standards-Version: 3.6.0

Package: ebiff
Architecture: any
Depends: ${shlibs:Depends}, ebiff-notifier, ebiff-mailbox
Description: Enhanced biff
 This is plugin based biff clone. It clone only the idea of mail notification
 since it supports powerful plugin for both accessing multiple mailbox formats
 and notifyng the user in various ways.

Package: ebiff-notifier-gtk2
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-notifier
Description: ebiff's gtk2 based notifier
 This plugin provides a gbuffy like interface.

Package: ebiff-notifier-xosd
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-notifier
Description: ebiff's Xosd based notifier
 This plugin provides ebiff the capability of printing on screen display
 messages

Package: ebiff-notifier-sox
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-notifier
Description: ebiff's sox audio notifier
 This plugin plays a sound when new mail arrives

Package: ebiff-notifier-flite
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-notifier
Description: ebiff's flite voice synthesis notifier
 This plugin speaks a sentence when new mail arrives

Package: ebiff-notifier-stdout
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-notifier
Description: ebiff's stdout notifier
 This plugin prints a simple message on stdout, not really interesting

Package: ebiff-mailbox-mbox
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-mailbox
Description: ebiff's mbox plugin
 This plugin allows ebiff to access mbox mailboxes

Package: ebiff-mailbox-maildir
Architecture: any
Depends: ${shlibs:Depends}, ebiff
Provides: ebiff-mailbox
Description: ebiff's maildir plugin
 This plugin allows ebiff to access maildir mailboxes

